---
import "../styles/global.css";

const { title } = Astro.props;

export interface Props {
  title: string;
}
---

<html lang="en">
  <head>
    <!-- Title (shows up in a browser tab and search results and should describe
    the specific page) -->
    <title>{title}</title>

    <!-- Description (Shows up in search results and should be about 160 characters that further describe the page) -->
    <meta name="description" content="Astro Scss Tailwind Starter" />

    <!-- Project Author -->
    <meta name="author" content="Taz" />

    <!-- UTF-8, Viewport Width, and Astro -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- FAVICON -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- ADD FONT  -->
  </head>
  <body>
    <header class="container mx-auto">
      <ul class="flex py-7 space-x-4">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>
    <slot />
  </body>
</html>
